@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Color */
/* #E4B40D */

/* #EDD955 */
body {
  background-color: #071624;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}


.raleway-font {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

